{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}
My Note
{% endblock %}

{% block content %}
<div class="container">
	<h1>My Note</h1>

	<form method="POST" action="/update/{{ note_to_update.id }}">
		<h2>Recipe title: {{ name }}</h2>
		<p>My note is:</p>
		{{ form.note(class="form-control", value=note_to_update.recipe_note) }}
		<br>
		<button class="btn" type="submit">Update</button>
	</form>
</div>

<div class="container">
	<a href="{{ url_for('dashboard') }}" class="btn">Back to dashboard</a>
</div>

<div class="container">
	<a href="{{ url_for('my_recipes') }}" class="btn">Back to my recipes</a>
</div>

{% endblock %}